<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Recent Matches</h2>
    <table>
      <thead>
        <tr>
          <td>When</td>
          <td>Player 1</td>
          <td>Player 1 Score</td>
          <td>Player 2</td>
          <td>Player 2 Score</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<matches.length; i++) { %>
         <tr>
           <td><%= matches[i].when %></td>
           <td><%= matches[i].player1 %></td>
           <td><%= matches[i].player1Score %></td>
           <td><%= matches[i].player2 %></td>
           <td><%= matches[i].player2Score %></td>
         </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
